.bgimage{
	background-image: url('../images/Training.jpg');
	background-position: center center;
	background-size: cover;
	height: 300px;
}
.Icon{
	max-width:150px;
	margin :0 auto;
	display:block;
}
.services section{
	text-align: center;
}
p.change{
	color:blue;
}
p>span{
	color:red;
}
